In [31]:
import pandas as pd
import numpy as np

# Fase 2:
1. Criar um Jupyter Notebook para iniciar a exploração dos conjuntos de
dados
2. No notebook, calcular medidas de centralidade e dispersão das variáveis
disponíveis
3. No notebook, criar boxplots para as variáveis disponíveis

In [32]:
drugs_df = pd.read_csv('datasets/Drug_Consumption.csv')
drugs_df.head(5)

,ID,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,AScore,...,Ecstasy,Heroin,Ketamine,Legalh,LSD,Meth,Mushrooms,Nicotine,Semer,VSA
0,2,25-34,M,Doctorate degree,UK,White,-0.67825,1.93886,1.43533,0.76096,...,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4,CL0,CL0
1,3,35-44,M,Professional certificate/ diploma,UK,White,-0.46725,0.80523,-0.84732,-1.62090,...,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0,CL0,CL0
2,4,18-24,F,Masters degree,UK,White,-0.14882,-0.80615,-0.01928,0.59042,...,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2,CL0,CL0
3,5,35-44,F,Doctorate degree,UK,White,0.73545,-1.63340,-0.45174,-0.30172,...,CL1,CL0,CL0,CL1,CL0,CL0,CL2,CL2,CL0,CL0
4,6,65+,F,Left school at 18 years,Canada,White,-0.67825,-0.30033,-1.55521,2.03972,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL6,CL0,CL0

#### Informações do dataset:
- ID: is a number of records in an original database. Cannot be related to the participant. It can be used for reference only.
- Age (Real) is the age of participant
- Gender: Male or Female
- Education: level of education of participant
- Country: country of origin of the participant
- Ethnicity: ethnicity of participant
- Nscore (Real) is NEO-FFI-R Neuroticism
- Escore (Real) is NEO-FFI-R Extraversion
- Oscore (Real) is NEO-FFI-R Openness to experience.
- Ascore (Real) is NEO-FFI-R Agreeableness.
- Cscore (Real) is NEO-FFI-R Conscientiousness.
- Impulsive (Real) is impulsiveness measured by BIS-11
- SS (Real) is sensation seeing measured by ImpSS
- Alcohol: alcohol consumption
- Amphet: amphetamines consumption
- Amyl: nitrite consumption
- Benzos: benzodiazepine consumption
- Caff: caffeine consumption
- Cannabis: marijuana consumption
- Choc: chocolate consumption
- Coke: cocaine consumption
- Crack: crack cocaine consumption
- Ecstasy: ecstasy consumption
- Heroin: heroin consumption
- Ketamine: ketamine consumption
- Legalh: legal highs consumption
- LSD: LSD consumption
- Meth: methadone consumption
- Mushroom: magic mushroom consumption
- Nicotine: nicotine consumption
- Semer: class of fictitious drug Semeron consumption (i.e. control)
- VSA: class of volatile substance abuse consumption
##### Rating's for Drug Use:

- CL0 Never Used
- CL1 Used over a Decade Ago
- CL2 Used in Last Decade
- CL3 Used in Last Year 59
- CL4 Used in Last Month
- CL5 Used in Last Week
- CL6 Used in Last Day

In [33]:
#função para realizar a analise exploratoria dos dados
def infos(df, info = '', num = 0, isnum = False):
    print(f'Value\tCases')
    print(df[info].value_counts())
    print(df[info].describe())

In [34]:
infos(drugs_df, info='Age')

Value	Cases
18-24    643
25-34    481
35-44    355
45-54    294
55-64     93
65+       18
Name: Age, dtype: int64
count      1884
unique        6
top       18-24
freq        643
Name: Age, dtype: object

In [35]:
infos(drugs_df, info='Gender')

Value	Cases
M    943
F    941
Name: Gender, dtype: int64
count     1884
unique       2
top          M
freq       943
Name: Gender, dtype: object

In [36]:
infos(drugs_df, info='Country')

Value	Cases
UK                     1043
USA                     557
Other                   118
Canada                   87
Australia                54
Republic of Ireland      20
New Zealand               5
Name: Country, dtype: int64
count     1884
unique       7
top         UK
freq      1043
Name: Country, dtype: object

In [37]:
infos(drugs_df, info='Ethnicity')

Value	Cases
White                1720
Other                  63
Black                  33
Asian                  26
Mixed-White/Black      20
Mixed-White/Asian      19
Mixed-Black/Asian       3
Name: Ethnicity, dtype: int64
count      1884
unique        7
top       White
freq       1720
Name: Ethnicity, dtype: object

In [38]:
#Criação de dataset auxiliar contendo as informações do uso de diversas drogas
drugs_df_drugs = drugs_df.loc[:, "Alcohol":"Nicotine"]
drugs_df_drugs.head(5)

,Alcohol,Amphet,Amyl,Benzos,Caff,Cannabis,Choc,Coke,Crack,Ecstasy,Heroin,Ketamine,Legalh,LSD,Meth,Mushrooms,Nicotine
0,CL5,CL2,CL2,CL0,CL6,CL4,CL6,CL3,CL0,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4
1,CL6,CL0,CL0,CL0,CL6,CL3,CL4,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0
2,CL4,CL0,CL0,CL3,CL5,CL2,CL4,CL2,CL0,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2
3,CL4,CL1,CL1,CL0,CL6,CL3,CL6,CL0,CL0,CL1,CL0,CL0,CL1,CL0,CL0,CL2,CL2
4,CL2,CL0,CL0,CL0,CL6,CL0,CL4,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL6

In [39]:
infos(drugs_df_drugs, info='Alcohol')

Value	Cases
CL5    758
CL6    505
CL4    287
CL3    198
CL2     68
CL1     34
CL0     34
Name: Alcohol, dtype: int64
count     1884
unique       7
top        CL5
freq       758
Name: Alcohol, dtype: object

In [40]:
infos(drugs_df_drugs, info='Amphet')

Value	Cases
CL0    976
CL2    242
CL1    230
CL3    198
CL6    102
CL4     75
CL5     61
Name: Amphet, dtype: int64
count     1884
unique       7
top        CL0
freq       976
Name: Amphet, dtype: object

In [41]:
infos(drugs_df_drugs, info='Amyl')

Value	Cases
CL0    1304
CL2     237
CL1     210
CL3      92
CL4      24
CL5      14
CL6       3
Name: Amyl, dtype: int64
count     1884
unique       7
top        CL0
freq      1304
Name: Amyl, dtype: object

In [42]:
infos(drugs_df_drugs, info='Benzos')

Value	Cases
CL0    1000
CL3     236
CL2     233
CL4     120
CL1     116
CL6      95
CL5      84
Name: Benzos, dtype: int64
count     1884
unique       7
top        CL0
freq      1000
Name: Benzos, dtype: object

In [43]:
infos(drugs_df_drugs, info='Caff')

Value	Cases
CL6    1384
CL5     273
CL4     106
CL3      60
CL0      27
CL2      24
CL1      10
Name: Caff, dtype: int64
count     1884
unique       7
top        CL6
freq      1384
Name: Caff, dtype: object

In [44]:
infos(drugs_df_drugs, info='Cannabis')

Value	Cases
CL6    463
CL0    412
CL2    266
CL3    211
CL1    207
CL5    185
CL4    140
Name: Cannabis, dtype: int64
count     1884
unique       7
top        CL6
freq       463
Name: Cannabis, dtype: object

In [45]:
infos(drugs_df_drugs, info='Choc')

Value	Cases
CL6    807
CL5    682
CL4    296
CL3     54
CL0     32
CL2     10
CL1      3
Name: Choc, dtype: int64
count     1884
unique       7
top        CL6
freq       807
Name: Choc, dtype: object

In [46]:
infos(drugs_df_drugs, info='Coke')

Value	Cases
CL0    1037
CL2     270
CL3     258
CL1     160
CL4      99
CL5      41
CL6      19
Name: Coke, dtype: int64
count     1884
unique       7
top        CL0
freq      1037
Name: Coke, dtype: object

In [47]:
infos(drugs_df_drugs, info='Crack')

Value	Cases
CL0    1626
CL2     112
CL1      67
CL3      59
CL5       9
CL4       9
CL6       2
Name: Crack, dtype: int64
count     1884
unique       7
top        CL0
freq      1626
Name: Crack, dtype: object

In [48]:
infos(drugs_df_drugs, info='Ecstasy')

Value	Cases
CL0    1020
CL3     277
CL2     234
CL4     156
CL1     113
CL5      63
CL6      21
Name: Ecstasy, dtype: int64
count     1884
unique       7
top        CL0
freq      1020
Name: Ecstasy, dtype: object

In [49]:
infos(drugs_df_drugs, info='Heroin')

Value	Cases
CL0    1604
CL2      94
CL1      68
CL3      65
CL4      24
CL5      16
CL6      13
Name: Heroin, dtype: int64
count     1884
unique       7
top        CL0
freq      1604
Name: Heroin, dtype: object

In [50]:
infos(drugs_df_drugs, info='Ketamine')

Value	Cases
CL0    1489
CL2     142
CL3     129
CL1      45
CL4      42
CL5      33
CL6       4
Name: Ketamine, dtype: int64
count     1884
unique       7
top        CL0
freq      1489
Name: Ketamine, dtype: object

In [51]:
infos(drugs_df_drugs, info='Legalh')

Value	Cases
CL0    1093
CL3     323
CL2     198
CL4     110
CL6      67
CL5      64
CL1      29
Name: Legalh, dtype: int64
count     1884
unique       7
top        CL0
freq      1093
Name: Legalh, dtype: object

In [52]:
infos(drugs_df_drugs, info='LSD')

Value	Cases
CL0    1068
CL1     259
CL3     214
CL2     177
CL4      97
CL5      56
CL6      13
Name: LSD, dtype: int64
count     1884
unique       7
top        CL0
freq      1068
Name: LSD, dtype: object

In [53]:
infos(drugs_df_drugs, info='Meth')

Value	Cases
CL0    1428
CL3     149
CL2      97
CL6      73
CL4      50
CL5      48
CL1      39
Name: Meth, dtype: int64
count     1884
unique       7
top        CL0
freq      1428
Name: Meth, dtype: object

In [54]:
infos(drugs_df_drugs, info='Mushrooms')

Value	Cases
CL0    981
CL3    275
CL2    260
CL1    209
CL4    115
CL5     40
CL6      4
Name: Mushrooms, dtype: int64
count     1884
unique       7
top        CL0
freq       981
Name: Mushrooms, dtype: object

In [55]:
infos(drugs_df_drugs, info='Nicotine')

Value	Cases
CL6    610
CL0    428
CL2    203
CL1    193
CL3    185
CL5    157
CL4    108
Name: Nicotine, dtype: int64
count     1884
unique       7
top        CL6
freq       610
Name: Nicotine, dtype: object