In [31]:
import pandas as pd
import numpy as np

# Fase 1:
1. Definir grupo com 3 pessoas;
2. Pesquisar e definir um ou mais conjuntos de dados sobre temas que o grupo
tem interesse;
3. Definir no mínimo 3 perguntas que podem ser respondidas utilizando os
conjuntos de dados escolhidos;
4. Criar um repositório no GitHub para o projeto;
5. Adicionar arquivo README ao repositório com o nome dos integrantes,
com as 3 perguntas e com uma referência para os dados que serão utilizados.

#### Grupo:
- <a href = 'https://github.com/ismael-DS' style = "color: #CECECE"> Ismael Araujo </a> <i style="font-size:70%;"> link</i>     
- <a href = 'https://github.com/JonasFOliveira' style = "color: #CECECE"> Jonas Felipe</a>  <i style="font-size:70%;"> link</i>    
- <a href = 'https://github.com/DevNataneto/' style = "color: #CECECE"> Natan Neto</a> <i style="font-size:70%;"> link</i>

#### DataSet a ser utilizado:
- <a href = 'https://www.kaggle.com/datasets/obeykhadija/drug-consumptions-uci' style = "color: #CECECE"> Drug Consumption </a> <i style="font-size:70%;"> link</i>

#### Perguntas:
- A escolaridade de um individuo pode influenciar no consumo de drogas?
- O uso de drogas lícitas (chocolate, café, etc) pode influenciar no consumo de alguma droga ilícita?
- A etinia ou o genero dos individuos podem estar relacionado ao uso de alguma droga?

#### <a href = 'https://github.com/DevNataneto/ProjetoCDIA' style = "color: #CECECE">Repositorio</a><i style="font-size:70%;"> link</i>

#### <a href = 'https://github.com/DevNataneto/ProjetoCDIA/blob/main/README.md' style = "color: #CECECE">README.MD</a><i style="font-size:70%;"> link</i>

# Fase 2:
1. Criar um Jupyter Notebook para iniciar a exploração dos conjuntos de
dados
2. No notebook, calcular medidas de centralidade e dispersão das variáveis
disponíveis
3. No notebook, criar boxplots para as variáveis disponíveis

In [32]:
drugs_df = pd.read_csv('datasets/Drug_Consumption.csv')
drugs_df.head(5)

,ID,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,AScore,...,Ecstasy,Heroin,Ketamine,Legalh,LSD,Meth,Mushrooms,Nicotine,Semer,VSA
0,2,25-34,M,Doctorate degree,UK,White,-0.67825,1.93886,1.43533,0.76096,...,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4,CL0,CL0
1,3,35-44,M,Professional certificate/ diploma,UK,White,-0.46725,0.80523,-0.84732,-1.62090,...,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0,CL0,CL0
2,4,18-24,F,Masters degree,UK,White,-0.14882,-0.80615,-0.01928,0.59042,...,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2,CL0,CL0
3,5,35-44,F,Doctorate degree,UK,White,0.73545,-1.63340,-0.45174,-0.30172,...,CL1,CL0,CL0,CL1,CL0,CL0,CL2,CL2,CL0,CL0
4,6,65+,F,Left school at 18 years,Canada,White,-0.67825,-0.30033,-1.55521,2.03972,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL6,CL0,CL0

#### Informações do dataset:
- ID: is a number of records in an original database. Cannot be related to the participant. It can be used for reference only.
- Age (Real) is the age of participant
- Gender: Male or Female
- Education: level of education of participant
- Country: country of origin of the participant
- Ethnicity: ethnicity of participant
- Nscore (Real) is NEO-FFI-R Neuroticism
- Escore (Real) is NEO-FFI-R Extraversion
- Oscore (Real) is NEO-FFI-R Openness to experience.
- Ascore (Real) is NEO-FFI-R Agreeableness.
- Cscore (Real) is NEO-FFI-R Conscientiousness.
- Impulsive (Real) is impulsiveness measured by BIS-11
- SS (Real) is sensation seeing measured by ImpSS
- Alcohol: alcohol consumption
- Amphet: amphetamines consumption
- Amyl: nitrite consumption
- Benzos: benzodiazepine consumption
- Caff: caffeine consumption
- Cannabis: marijuana consumption
- Choc: chocolate consumption
- Coke: cocaine consumption
- Crack: crack cocaine consumption
- Ecstasy: ecstasy consumption
- Heroin: heroin consumption
- Ketamine: ketamine consumption
- Legalh: legal highs consumption
- LSD: LSD consumption
- Meth: methadone consumption
- Mushroom: magic mushroom consumption
- Nicotine: nicotine consumption
- Semer: class of fictitious drug Semeron consumption (i.e. control)
- VSA: class of volatile substance abuse consumption
##### Rating's for Drug Use:

- CL0 Never Used
- CL1 Used over a Decade Ago
- CL2 Used in Last Decade
- CL3 Used in Last Year 59
- CL4 Used in Last Month
- CL5 Used in Last Week
- CL6 Used in Last Day

In [33]:
drugs_df['Age'].describe()

count      1884
unique        6
top       18-24
freq        643
Name: Age, dtype: object

In [34]:
drugs_df['Gender'].describe()

count     1884
unique       2
top          M
freq       943
Name: Gender, dtype: object

In [35]:
drugs_df['Country'].describe()

count     1884
unique       7
top         UK
freq      1043
Name: Country, dtype: object

In [36]:
drugs_df['Ethnicity'].describe()

count      1884
unique        7
top       White
freq       1720
Name: Ethnicity, dtype: object

In [37]:
drugs_df_drugs = drugs_df.loc[:, "Alcohol":"Nicotine"]
drugs_df_drugs.head(5)

,Alcohol,Amphet,Amyl,Benzos,Caff,Cannabis,Choc,Coke,Crack,Ecstasy,Heroin,Ketamine,Legalh,LSD,Meth,Mushrooms,Nicotine
0,CL5,CL2,CL2,CL0,CL6,CL4,CL6,CL3,CL0,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4
1,CL6,CL0,CL0,CL0,CL6,CL3,CL4,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0
2,CL4,CL0,CL0,CL3,CL5,CL2,CL4,CL2,CL0,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2
3,CL4,CL1,CL1,CL0,CL6,CL3,CL6,CL0,CL0,CL1,CL0,CL0,CL1,CL0,CL0,CL2,CL2
4,CL2,CL0,CL0,CL0,CL6,CL0,CL4,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL6

In [38]:
drugs_df_drugs['Alcohol'].describe()

count     1884
unique       7
top        CL5
freq       758
Name: Alcohol, dtype: object

In [39]:
drugs_df_drugs['Amphet'].describe()

count     1884
unique       7
top        CL0
freq       976
Name: Amphet, dtype: object

In [40]:
drugs_df_drugs['Amyl'].describe()

count     1884
unique       7
top        CL0
freq      1304
Name: Amyl, dtype: object

In [41]:
drugs_df_drugs['Benzos'].describe()

count     1884
unique       7
top        CL0
freq      1000
Name: Benzos, dtype: object

In [42]:
drugs_df_drugs['Caff'].describe()

count     1884
unique       7
top        CL6
freq      1384
Name: Caff, dtype: object

In [43]:
drugs_df_drugs['Cannabis'].describe()

count     1884
unique       7
top        CL6
freq       463
Name: Cannabis, dtype: object

In [44]:
drugs_df_drugs['Choc'].describe()

count     1884
unique       7
top        CL6
freq       807
Name: Choc, dtype: object

In [45]:
drugs_df_drugs['Coke'].describe()

count     1884
unique       7
top        CL0
freq      1037
Name: Coke, dtype: object

In [46]:
drugs_df_drugs['Crack'].describe()

count     1884
unique       7
top        CL0
freq      1626
Name: Crack, dtype: object

In [47]:
drugs_df_drugs['Ecstasy'].describe()

count     1884
unique       7
top        CL0
freq      1020
Name: Ecstasy, dtype: object

In [48]:
drugs_df_drugs['Heroin'].describe()

count     1884
unique       7
top        CL0
freq      1604
Name: Heroin, dtype: object

In [49]:
drugs_df_drugs['Ketamine'].describe()

count     1884
unique       7
top        CL0
freq      1489
Name: Ketamine, dtype: object

In [50]:
drugs_df_drugs['Legalh'].describe()

count     1884
unique       7
top        CL0
freq      1093
Name: Legalh, dtype: object

In [51]:
drugs_df_drugs['LSD'].describe()

count     1884
unique       7
top        CL0
freq      1068
Name: LSD, dtype: object

In [52]:
drugs_df_drugs['Meth'].describe()

count     1884
unique       7
top        CL0
freq      1428
Name: Meth, dtype: object

In [53]:
drugs_df_drugs['Mushrooms'].describe()

count     1884
unique       7
top        CL0
freq       981
Name: Mushrooms, dtype: object

In [54]:
drugs_df_drugs['Nicotine'].describe()

count     1884
unique       7
top        CL6
freq       610
Name: Nicotine, dtype: object

In [78]:
drugs_df_drugs['Nicotine'].value_counts()
drugs_df_drugs['Nicotine'].describe(include='all')

count     1884
unique       7
top        CL6
freq       610
Name: Nicotine, dtype: object

In [95]:
def infos(df, info = '', num = 0, isnum = False):
    print(f'Value\tCases')
    print(df[info].value_counts())
    print(df[info].describe())

In [96]:
infos(drugs_df_drugs, info = 'Nicotine')

Value	Cases
CL6    610
CL0    428
CL2    203
CL1    193
CL3    185
CL5    157
CL4    108
Name: Nicotine, dtype: int64
count     1884
unique       7
top        CL6
freq       610
Name: Nicotine, dtype: object